<!DOCTYPE HTML>
<html lang="en">
<head>
    <link rel="icon" href="./images/favicon-32.png" type="image/x-icon">
    <title>World Database</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="./css/main.css">
    <script src="./js/main.js" defer></script>
</head>
<body>
    <h1>World Datatable</h1>
    <section>
        <form id="query-form">
            <select id="api-select">
                <option value="world">World</option>
                <option value="continent">Continent</option>
                <option value="region">Region</option>
                <option value="languages">Languages</option>
            </select>

            <input id="area-name" type="text" placeholder="Name">

            <input id="top-count" type="number" placeholder="Top">

            <button>Filter</button>
        </form>
    </section>
</body>
</html>